@media all and (min-width: 480px) {
    .Maps {
        text-align: center;
    }

    .Map {
        display: inline-block;
        text-align: center;
        background: #999999;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        margin: 10px 0 0 2%;
        flex-grow: 1;
        height:100px;
        width: calc(100% * (1/4) - 10px - 1px);
    }

    .Button {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }

}
